<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770715389542-3t7q2goartc3gar397kjpr78impjeagv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770715389542-3t7q2goartc3gar397kjpr78impjeagv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>770715389542-500cuqa1jugrffgjpajbgcbsoqqbi4ce.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCSreg4MZrl60tw-lg1w3cVpfTCBQ7na40</string>
	<key>GCM_SENDER_ID</key>
	<string>770715389542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jasonleung101.unify</string>
	<key>PROJECT_ID</key>
	<string>unify-c3556</string>
	<key>STORAGE_BUCKET</key>
	<string>unify-c3556.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770715389542:ios:73feb5bfba6fb6df0be7a7</string>
</dict>
</plist>